.jumbotron {
    color: rgb(226, 226, 226);
    height: 19.5vh;
    background-color: transparent;
}

footer {
    height: 70vh;
    background-image: url("./assets/waves.svg");
}

body {
    background-color: #001220   ;
}

.navbar-light .navbar-brand {
    color: aliceblue;
}

.navbar-light .navbar-text{
    color: aliceblue;
}

.navbar-light .navbar-text a {
    color: rgb(218, 180, 40);
}

button.btn {
    background-color: rgb(218, 180, 40);
    border: none;
    border-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

button.btn:hover {
    background-color: rgb(185, 153, 35);
}


button.btn:focus {
    background-color: rgb(185, 153, 35);
    border: none;
    border-radius: 25px;
}

a.nav-link {
    color: #642a9d
}

a.nav-link:hover {
    color: #8748c6;
}

ul {
    list-style-type:none;
}


.testcontainer {
    background-color: aliceblue;
    border-radius: 25px;
    padding-top: 1em;
}

.d-flex {
    justify-content: center;
    margin-bottom: 1em;
    gap: 0.5em;
}

p {
    margin-bottom: 0;
}

h2 {
    color: rgb(255, 255, 255);
}

button.submitbtn {
    width: 7em;
    margin-top: 0;
}

.resultscontainer {
    background-color: aliceblue;
    border-radius: 25px;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    text-align: justify;
}

.results {
    max-width: 300px;
    margin-bottom: 2em;
}


.resultflex {
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 780px) {

    .results {
        max-width: 300px;
        margin-bottom: 2em;
    }
   
  }

  .labelspan {
    margin: 5px;
  }

  @media screen and (max-width: 760px) {

    .results {
        max-width: 200px;
        margin-bottom: 2em;
    }
   
  }



@media screen and (max-width: 440px) {
    .jumbotron {
        max-width: 420px;
        height: 5vh;
    }

    footer {
        max-width: 420px;
        max-height: 63vh;
    }

    .results {
        max-width: 300px;
        margin-bottom: 2em;
    }

    .resultflex {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

    div.container {
        max-width: 380px;
    }

    .navbar-light .navbar-text {
        display: none;
    }
  }

 

